In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# Чтение данных

In [7]:
data = pd.read_csv('../data/processed/bank-additional-encoded-and-scaled.csv',
                   delimiter=';', index_col=0)
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,-0.980752,1,1,2,0,2,0,0,6,0,-0.209228,999,-0.351356,1,-1.206054,-1.185448,-1.240939,-1.331707,-0.914779,0
1,-0.107991,7,2,3,0,0,0,1,6,0,0.569634,999,-0.351356,1,0.649441,0.715193,0.892269,0.711698,0.332862,0
2,-1.465619,7,1,3,0,2,0,1,4,4,-0.598660,999,-0.351356,1,0.841389,1.528273,-0.283172,0.773427,0.836535,0
3,-0.204965,7,1,2,0,1,1,1,4,0,0.180203,999,-0.351356,1,0.841389,1.528273,-0.283172,0.771697,0.836535,0
4,0.667795,0,1,6,0,2,0,0,7,1,-0.598660,999,-0.351356,1,-0.118350,-0.655478,-0.326707,0.328632,0.398028,0

In [8]:
y = data['y'].copy()
X = data.drop('y', axis=1).copy()